<%- include('../partials/head') %>
<div class="container">

    <h1>Sign in to your account</h1>
    <form action="/auth/sign-in" method="POST">
        <label for="">Username: </label>
        <input type="text" name="username">
        <label for="">Password: </label>
        <input type="password" name="password">
        <button type="submit" class="btn btn-primary">Sign in</button>
        <p><%= msg %></p>
    </form>
</div>

<%- include('../partials/footer') %>