<%- include('partials/head') %>

    <% if (user) { %>
        <h1>Welcome to Skyrockit <%= user.username %>!</h1>
        <p>A job application tracker</p>
    <% } else { %>
        <h1>Welcome to Skyrockit guest.</h1>
        <p>A job application tracker</p>
    <% } %>

<%- include('partials/footer') %>