body {
    background-color: pink;
    margin: 0px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

form button {
    margin-top: 10px;
}